<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Source:</b>
  <%= @post.source %>
</p>

<p>
  <b>Is ad:</b>
  <%= @post.is_ad %>
</p>

<p>
  <b>Body:</b>
  <%= sanitize(@post.body) %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
